.main-window {
  background-color: rgba(0,0,0,0.9);
}

scrollbar, scrollbar * {
  background-color: transparent;
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
}

.center-box {
  margin: 10px;
}

.center-box .title {
  color: white;
}

.switcher-scroll scrollbar,
.switcher-scroll scrollbar slider {
    background: transparent;
    min-width: 6px;
    min-height: 6px;
}

.iconbox {
  transition: all 0.5s ease;
  padding: 10px;
  background-color: transparent;
  border-radius: 14px;
  box-shadow: 0 4px 24px 6px rgba(0,0,0,0.28);
}

.iconbox.selected {
  background-color: rgba(90, 180, 255, 0.5);
}

.icon-text {
  transition: all 0.2s ease;
  opacity: 0;
  color: white;
}

.iconbox.selected .icon-text {
  opacity: 1;

}

.icon {
}
