:root {
  --bg-color: rgba(28, 28, 30, .95);
  --label-color: rgb(209, 209, 214);
  --alternate-label-color: rgb(229, 229, 234);
  --dim-label-color: rgb(142, 142, 147);
  --border-color: rgba(72, 72, 74, .95);
  --highlight-color: rgba(99,99,102,0.95);
  --urgency-color: rgb(255, 69, 58);
  --indicator-focus-color: rgba(10, 132, 255, 0.95);
  --indicator-color: rgba(58, 58, 60, .95);
}
