.niriswitcher-window {
    background-color: rgba(44,44,44,.95);
    border-radius: 22px;
    border: 1px solid rgba(76,76,76,0.95);
    padding: 10px 20px 10px;
}

scrollbar, scrollbar * {
  background-color: transparent;
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
}


.application-title {
    background: transparent;
    color: white;
}

scrollbar,
scrollbar slider {
    background: transparent;
    min-width: 6px;
    min-height: 6px;
}

.application-strip {
    padding: 10px;
}

.application-strip-scroll {
}

.application-area {
  background-color: transparent;
}

.application-icon {
    transition: -gtk-icon-filter 0.2s ease-in-out;
    padding: 10px 15px 10px;
    -gtk-icon-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.application-name {
  transition: all 0.2s ease;
  opacity: 0;
  color: white;
}


.application-area.selected .application-name {
  opacity: 1;
}

.application-area.selected .application-icon {
    transition: background-color 0.1s ease-in;
    -gtk-icon-filter: brightness(110%);
    /* padding: 10px 15px 4px; */
    /* border: 1px solid rgba(44,44,44,0.95); */
    border-radius: 22px;
    background-color: rgba(99,99,99,0.95);
}
